---
import Layout from '../layouts/Layout.astro';
import StickyHeader from '../components/StickyHeader.astro';
import StickyMobileCTA from '../components/StickyMobileCTA.astro';
import HeroSection from '../components/HeroSection.astro';
import ProblemsSection from '../components/ProblemsSection.astro';
import ForWhoSection from '../components/ForWhoSection.astro';
import WhatIsSection from '../components/WhatIsSection.astro';
import WhyChooseSection from '../components/WhyChooseSection.astro';
import InsuranceSection from '../components/InsuranceSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import HowItWorksSection from '../components/HowItWorksSection.astro';
import LocationSection from '../components/LocationSection.astro';
import FAQSection from '../components/FAQSection.astro';
import FinalCTASection from '../components/FinalCTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <StickyHeader />
  <main>
    <HeroSection />
    <ProblemsSection />
    <ForWhoSection />
    <WhatIsSection />
    <WhyChooseSection />
    <InsuranceSection />
    <TestimonialsSection />
    <HowItWorksSection />
    <LocationSection />
    <FAQSection />
    <FinalCTASection />
  </main>
  <Footer />
  <StickyMobileCTA />
</Layout>